body{
 		 background-image: url(assets/cash1.jpg);
	   font-family:Arial;
}

div#wrapper{margin-left:auto;
   			    margin-right:auto;
   			    width:1024px;
   			    background-color:black;
            border-radius:10px;
}

nav{float:left;
    width:230px;
    margin:20px 0px 20px 20px;
}

div#nav{background-color:#1E392A;
        border-radius:10px;
        padding:6px;
        margin-bottom:10px;
}

header{
	padding-top: 20px;
}

nav a:link{color:white;
}

nav a:visited{color:white;
}

nav a:focus{font-size:1.2em;
}

nav a:hover{color:#835EA4;
            font-size: 1.02em;
}

main a:link{color:white;
}

main a:visited{color:white;
}

main a:hover{color:#835EA4;
             font-size: 1.02em;
}

a{text-decoration:none;
}

main{margin:20px 80px 0px 260px;
	   background-color:#1E392A;
  	 padding:20px 30px;
	   color:white;
	   border-radius:10px;
}

h1{
	font-weight: bold;
	margin-left: 20px;
}

h2{
  font-size: 2em;
}

h3{
  font-size: 1.3em;
  margin-left: 10px;
}

.h3text{
  margin-left: 30px;
}

#logo{
  width: auto;
  height: 150px;
  margin-top: 10px;
  margin-left: 0px;
	margin-bottom: 10px;
	float: left;
}
#info{
	text-align: center;
	color:white;
	font-weight:bold;
	font-size:60px;
	margin-bottom: 90px;
	padding-top: 30px;
	padding-left: 10px;
}
#quote{
	font-weight:bold;
	font-size:15px;
	font-style: italic;
	float: right;
	margin-right: 5px;
	margin-top: 20px;
	color:white;
}
#text{
  font-size:15px;
}
form div{
  margin: 15px;
	padding: 8px;
  border: 3px solid #1E392A;
}

/*CSS for plugin1*/
.error {
  background-color: #ff3300;
}

.error-parent {
  background: #835EA4;
  padding-bottom: 10px;
}
/*CSS for no-js*/
.js-warning {display: none;
}
.no-js .js-warning {
display: block;
text-align: center;
font-size: 2em;
font-weight: bold;
background-color: red;
color: white;
padding: 10px;
}

/*CSS for trophy*/
.trophyimg{
	width: 620px;
	height:auto;
  margin-bottom: 10px;
}

#giannisDunk{
  position: fixed;
  bottom: 0;
  left: 0;
	z-index: 2;
	margin-right: 1000px;
}

#hoop{
	position:fixed;
	bottom:430px;
	right:0;
	width: 200px;
	height: auto;
	z-index: 1;
}
